.author-Items__Skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.col-lg-3 {
  display: flex !important;
  flex-direction: column !important;
  width: 100% !important;
}

@media (min-width: 401px) {
  .author-Items__Skeleton {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (min-width: 770px) {
  .author-Items__Skeleton {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col-lg-3 {
    width: 50% !important; 
  }
}

@media (min-width: 1100px) {
  .col-lg-3 {
    width: 50% !important; 
  }
}
