.skeleton__carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px 0;
}

@media (max-width: 1240px) {
  .skeleton__carousel {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 800px) {
  .skeleton__carousel {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .skeleton__carousel {
    grid-template-columns: 1fr;
  }
}


.skeleton__image{
    width: 100%;
    height: 200px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation:  loading 1.5s infinite;
    border-radius: 8px;
}

.skeleton__avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  margin: -25px auto 10px;
}

.skeleton__title {
  width: 70%;
  height: 20px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
  margin: 10px 0;
}

.skeleton__text {
  width: 40%;
  height: 16px;
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 200% 100%;
  animation: loading 1.5s infinite;
  border-radius: 4px;
}

@keyframes loading {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}